<div class="container">
  <div class="row">
    <div>
      <p>FirstFaceは全国発送可能な化粧品サイトです。</p>
      <p>様々な化粧品をご用意しております。</p>
      <P>いつでもどこにいてもご注文可能です。</P>
      <p>是非ご注文ください</p>
    </div>
  </div>
</div>
